a {
    color: black;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;

}

.professionalisme,
.passion {
    color: #A5B4FC;
    font-style: normal;
}

h1 {
    color: #A5B4FC;
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: montserrat;
}

h2,
h3 {
    font-family: montserrat;
    color: #F9F8FF;
    padding-top: 30px;
    padding-bottom: 20px;

}



p {
    font-size: 1.1em;
    font-family: manrope;
    color: #F9F8FF;
}

ul {
    font-size: 1em;
    font-family: manrope;
    color: #F9F8FF;
    padding-top: 30px;
}

a {
    text-decoration: none;
    font-size: 1em;
    font-family: manrope;
}

div {
    background-color: white;
}

body,
.corps {
    background-color: #1F2039;
}

nav {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.logo:hover {
    opacity: 0.5;
}

.cta {
    border-radius: 50px;
    background-color: #A5B4FC;
    font-family: montserrat;
    font-style: normal;
    padding: 20px 20px;
}

.paragraphe {
    display: flex;
    justify-content: space-between;
    background-color: #1F2039;
    padding: 50px;

}

.cta:hover {
    background: linear-gradient(#696484, #8788BA);
}

.corps {
    border-bottom: 1px #8e86b5 solid;
    border-right: 1px #8e86b5 solid;
    padding: 50px;
}

* {
    margin: 0;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
    background-color: white;
    height: 40px;
}

section {
    padding: 80px;
}

.index-main {
    width: 50%;
    margin: auto;
}

.logo {
    margin: 10px;
}

.groupe1,
.groupe2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.box {
    width: 300px;
    height: 300px;

}

.box1 {
    padding: 15px;
    width: 250px;
    height: 300px;
}

.paysages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
    object-fit: cover;
}

.portraits {
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
    object-fit: cover;
}